{:paths ["src" "resources"]

 :deps
 {your/gesso-lib-name {:local/root "../gesso"}}

 :tasks
 {
  to-template
  {:doc "Regenerate the deps-new template project from this repo."
   :task (do
           (shell "rm -rf ../gesso-template-deps-new")
           (shell "bb to-template.clj gesso-template-deps-new gesso-template local/gesso-template-deps-new"))}
  new
  {:doc "Create a project from the sibling gesso-template-deps-new template. Usage: bb new TARGET-DIR PRIMARY-NS"
   :task
   (let [[target-dir primary-ns & more] *command-line-args*]
     (when (or (nil? target-dir)
               (nil? primary-ns)
               (seq more))
       (binding [*out* *err*]
         (println "Usage:")
         (println "  bb new TARGET-DIR PRIMARY-NS")
         (println)
         (println "Examples:")
         (println "  bb new ../gargle gargle")
         (println "  bb new ../humanhelp net.humanhelp"))
       (System/exit 1))

     (shell "clojure"
            "-Sdeps" "{:deps {local/template {:local/root \"../gesso-template-deps-new\"}}}"
            "-Tnew" "create"
            ":template" "local/gesso-template-deps-new"
            ":name" primary-ns
            ":target-dir" target-dir))}

  dev
  (shell "clj -M:dev dev")

  themes
  (let [gesso-path (-> (shell {:out :string}
                              "bb" "-m" "gesso.build.find-path" "gesso")
                       :out
                       clojure.string/trim)]
    (when (seq gesso-path)
      (babashka.classpath/add-classpath (str gesso-path "/src"))
      (babashka.classpath/add-classpath (str gesso-path "/resources")))
    ((requiring-resolve 'gesso.build.themes/build!)
     {:input-dir "resources/themes"
      :output-file "resources/public/gesso/app-themes.css"}))
  }}
